
    <h3 class="small-title">Featured Companies</h3>
    <a href="#" class="see-all">See All</a>
    <div class="primary-list featured-companies">
        <div class="item">
            <figure>
                <img src="img/people-1.jpg" alt=".">
            </figure>
            <div class="wrap">
                <span class="name">Company Name</span>
                <a href="#" class="role">Manufacturer</a>
                <span class="location">London, England</span>
                <a href="#" class="follow">Follow Now</a>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="img/people-1.jpg" alt=".">
            </figure>
            <div class="wrap">
                <span class="name">Company Name</span>
                <a href="#" class="role">Service Provider</a>
                <span class="location">Belgrade, Serbia</span>
                <a href="#" class="follow">Follow Now</a>
            </div>
        </div>
        <div class="item">
            <figure>
                <img src="img/people-1.jpg" alt=".">
            </figure>
            <div class="wrap">
                <span class="name">Company Name</span>
                <a href="#" class="role">Supplier</a>
                <span class="location">Paris, France</span>
                <a href="#" class="follow">Follow Now</a>
            </div>
        </div>
    </div>
