<h3 class="small-title">Featured Products</h3>
<a href="#" class="see-all">See All</a>
<div class="primary-list">
    <div class="item">
        <span class="name">Product Name</span>
        <figure>
            <img src="img/people-1.jpg" alt=".">
        </figure>
        <div class="wrap">
                <span class="description">Product Short Description. The quick
                fox brown jumps over the lazy dog</span>
        </div>
    </div>
    <div class="item">
        <span class="name">Product Name</span>
        <figure>
            <img src="img/people-1.jpg" alt=".">
        </figure>
        <div class="wrap">
                <span class="description">Product Short Description. The quick
                fox brown jumps over the lazy dog</span>
        </div>
    </div>
</div>