<h3 class="small-title">People you may know</h3>
<a href="#" class="see-all">See All</a>
<div class="primary-list">
    <div class="item">
        <span class="name">Dennis Adams</span>
        <figure>
            <img src="img/people-1.jpg" alt=".">
        </figure>
        <div class="wrap">
            <a href="#" class="role">Dentist (Practice Owner)</a>
            <span class="location">London, England</span>
            <a href="#" class="add-friend">Add Friend</a>
        </div>
    </div>
    <div class="item">
        <span class="name">Mary Carpenter</span>
        <figure>
            <img src="img/people-1.jpg" alt=".">
        </figure>
        <div class="wrap">
            <a href="#" class="role">Dentist (Practice Owner)</a>
            <span class="location">Belgrade, Serbia</span>
            <a href="#" class="add-friend">Add Friend</a>
        </div>
    </div>
    <div class="item">
        <span class="name">Danielle Salazar</span>
        <figure>
            <img src="img/people-1.jpg" alt=".">
        </figure>
        <div class="wrap">
            <a href="#" class="role">Dentist (Practice Owner)</a>
            <span class="location">Paris, France</span>
            <a href="#" class="add-friend">Add Friend</a>
        </div>
    </div>
</div>