<!--main-menu include-->
<div ng-include src="'./views/main-menu.html'"></div>

<!--advertisement include-->
<div ng-include src="'./views/adv-block.html'" class="aside-item a-block">
</div>

<!--advertisement include-->
<div ng-include src="'./views/featured-companies.html'" class="aside-item"></div>

<div class="aside-item">
    <span class="copyright">Denteez Copyright 2015</span>
    <ul class="additional-menu">
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">Privacy Policy</a></li>
    </ul>
</div>