<header>
    <div class="container-fluid">
        <div class="logo">
            <a href="#"><img src="img/logo.png" alt="."></a>
        </div>

        <div class="search-company">
            <form action="/">
                <a href="#" class="submit"><em class="icon-search"></em></a>
                <input type="search" placeholder="Company Name"/>
            </form>
        </div>
        <div class="notification-block">
            <ul>
                <li><a href="#"><em class="icon-bubbles"></em></a></li>
                <li><a href="#"><em class="icon-bell"></em></a></li>
            </ul>
        </div>
        <div class="user-block">
            <figure>
                <a href="#">
                    <span class="overflow-img">
                        <img src="img/user.jpg" alt=".">
                    </span>
                    <span class="name">Maximilian Beekeeper</span>
                </a>
            </figure>
        </div>
    </div>
</header>